* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  width: 960px;
  margin: 50px auto;
}

.main-text {
  margin-bottom: 50px;
}

.text-list {
  padding: 20px;
  text-align: left;
}

.text-list:nth-child(odd) {
  background-color: #eee;
}

.main-visual {
  display: flex;
  flex-wrap: wrap;
}

.visual-box {
  background-color: #ffd700;
  width: 30%;
  height: 200px;
  margin-right: 5%;
  margin-bottom: 40px;
}

.visual-box:first-child,
.visual-box:nth-child(5),
.visual-box:last-child {
  background-color: orange;
}

.visual-box:nth-child(3n) {
  margin-right: 0;
}

.visual-box:nth-child(3-n) {
  margin-bottom: 0;
}
